body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header, section, footer {
    padding: 20px;
    margin: 10px;
}
header {
    background-color: #f4f4f4;
    text-align: center;
}
nav a {
    margin: 0 10px;
    color: #333;
}
.skills, .contact-info {
    padding: 0;
}
.skills li, .contact-info li {
    margin: 5px 0;
}
#about{
    text-align: center;
}

